{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block header %} 
    <h1>Welcome to SmiViewer</h1>
{% endblock %}

{% block content %}
    <form id="smiviewer_form" action="/chemical" method="post">
        <label for="monomer">Monomer Name</label>
        <input type="text" name="monomer" id="monomer_input" maxlength="20" required><br><br>

        <label for="smiles"> SMILES</label>
        <textarea name="smiles" id="smiles_input" placeholder="Enter your long SMILES..." rows="5" cols="30"></textarea>

        <button type="submit">Submit</button>
    </form>
{% endblock %}